@import url('https://fonts.googleapis.com/css2?family=Dela+Gothic+One&family=IBM+Plex+Sans:ital,wght@0,100..700;1,100..700&display=swap');
.dela-gothic-one-regular {
  font-family: "Dela Gothic One", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.ibm-plex-sans {
  font-family: "IBM Plex Sans", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings: "wdth" 100;
}


.ibm-plex-sans-400 {

  font-weight: 400;
}

header{
    display: flex;
    align-items: center;

    gap: 10%;
}
body.dark {
    background-color: #252541;
    color: white;
}
body.dark .btn{
    background-color:#D3F0F4 ;
    color: black;
}
body{
    max-width: 100vw;
    width: 75%;
    margin: 0 auto;
    font-family: IBM Plex Sans;
    background-color: #D3F0F4;
}

#h-right{
    margin-left: auto;

}
#h-left{
    display: flex;
    align-items: center;

    gap: 5%;
}

#theme-btn{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    padding: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#search-input{
    border: none;
    border-radius: 8px;
    width: 35%;
    margin-left: 10%;
    min-width: 325px;
    min-height: 35px;
}
.btn{
    background-color: #111155;
    color: white;
    border-radius: 8px;
    padding: 10px 12px;
    border: none;
    cursor: pointer;
}
#search-btn:hover{
    background-color: #15156e;
}






